{% extends "base.html" %}

{% block content %}

<div class="container py-4">

    <div class="card shadow-sm">

        <div class="card-body">

            <h2 class="mb-4">
                Edit Appointment
            </h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-success">

                    Save Changes

                </button>

                <a href="{% url 'student_appointments' %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}